<div class="burger-body is-hidden" data-menu>
  <div class="burger-hed">
    <a href="" class="burger-log">
      <svg class="burger-logo">
        <use href="../img/sprite.svg#logo"></use>
      </svg>
      <span class="burger-logo-text">thewatchspot</span>
    </a>
    <button class="burger-close" data-menu-close>
      <svg class="burger-close-svg">
        <use href="../img/sprite.svg#cross"></use>
      </svg>
    </button>
  </div>

  <ul class="burger-list">
    <li class="burger-list-item">
      <a href="#" class="color-nav-bur">About us</a>
    </li>
    <li class="burger-list-item">
      <a href="#" class="color-nav-bur">Catalog</a>
    </li>
    <li class="burger-list-item"><a href="#" class="color-nav-bur">Sale</a></li>
  </ul>
</div>
