<div class="burger-posion is-hidden" data-menu>
  <div class="burger-body container">
    <div class="burger-hed">
      <a href="./index.html" class="burger-log">
        <img class="header-logo-img" src="./img/logo.svg" alt="logo" />
        <span class="burger-logo-text">thewatchspot</span>
      </a>
      <button class="burger-close" data-menu-close>
        <svg class="burger-close-svg">
          <use href="./img/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>

    <ul class="burger-list">
      <li class="burger-list-item">
        <a href="#" class="color-nav-bur">About us</a>
      </li>
      <li class="burger-list-item">
        <a href="#" class="color-nav-bur">Catalog</a>
      </li>
      <li class="burger-list-item">
        <a href="#" class="color-nav-bur">Sale</a>
      </li>
    </ul>
  </div>
</div>
