<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="svg-btn" width="12" height="12">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="foto">
      <img
        class="foto-modal"
        srcset="./img/btn/tube-watch.jpg 1x, ./img/btn/tube-watch-2x.jpg 2x"
        src="./img/btn/tube-watch.jpg"
        alt="watch"
        width="275"
        height="274"
      />
      <div class="text-foto">
        <h3 class="modal-title">Tube Watch S42 Date Steel With Black...</h3>
        <p class="modal-price">€395</p>
      </div>
    </div>
    <form class="modal-form">
      <div class="modal-field">
        <label for="user-name" class="modal-input-text">Full name</label>
        <div class="input-wrap">
          <input
            class="input-modal"
            type="text"
            placeholder="Enter your full name"
            id="user-name"
          />
        </div>
      </div>
      <div class="modal-field">
        <label for="email" class="modal-input-text">Email</label>
        <div class="input-wrap">
          <input
            class="input-modal"
            type="E-mail"
            placeholder="Enter your email"
            id="email"
          />
        </div>
      </div>
      <div class="modal-field">
        <label for="card-number" class="modal-input-text">Card number</label>
        <div class="input-wrap">
          <input
            class="input-modal"
            type="number"
            placeholder="Enter card"
            id="card-number"
          />
        </div>
      </div>
      <div class="modal-field">
        <label for="user-comment" class="modal-input-text">Comments</label>
        <textarea
          class="modal-textarea"
          name="user-comment"
          id="user-comment"
          placeholder="Enter your text"
        ></textarea>
      </div>
      <button type="submit" class="modal-btn">submit</button>
      <p class="modal-text">
        By clicking on “Submit” button, you agree to our
        <a href="" class="modal-text-link">Privacy Policy,</a>
        and allow Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
