<section class="catalog">
  <div class="container container-catalog">
    <h1 id="catalog" class="catalog-title">Catalog</h1>
    <ul class="catalog-list list">
      <li class="catalog-item">
        <a href="#" class="card-link link">
          <!-- <img class="icon-card" src="../img/catalog/Vector (1).svg" alt="" /> -->

          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-one.png    1x,
                  ./img/catalog/catalog-mobile-one@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-one.png"
                alt="Watch1"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <div class="card-about">
            <p class="card-text">
              Tube Watch S42 Date Steel With Black <span>...</span
              ><span class="text-hidden">Case</span>
            </p>
            <span class="card-price">€395</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-second.png    1x,
                  ./img/catalog/catalog-mobile-second@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-second.png"
                alt="Watch2"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Avondale Watch Police For Men</p>
            <span class="card-price">€800</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-three.png    1x,
                  ./img/catalog/catalog-mobile-three@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-three.png"
                alt="Watch3"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <div class="card-about">
            <p class="card-text">
              Diver 300M Co‑Axial Master Chronometer<span>...</span
              ><span class="text-hidden">Chronograph</span>
            </p>
            <span class="card-price">€395</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-four.png    1x,
                  ./img/catalog/catalog-mobile-four@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-four.png"
                alt="Watch4"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <div class="card-about">
            <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
            <span class="card-price">€1400</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-five.png    1x,
                  ./img/catalog/catalog-mobile-five@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-five.png"
                alt="Watch5"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <div class="card-about">
            <p class="card-text">Taman Watch By Police For Men</p>
            <span class="card-price">€500</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-six.png    1x,
                  ./img/catalog/catalog-mobile-six@2x.png 2x
                "
                src="./img-catalog/catalog-mobile-six.png"
                alt="Watch6"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Malawi Watch Police For Men</p>
            <span class="card-price">€555</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-seven.png    1x,
                  ./img/catalog/catalog-mobile-seven@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-seven.png"
                alt="Watch7"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Diver 300M Co-Axial Master Chronometer</p>
            <span class="card-price">€1200</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
             
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-eight.png    1x,
                  ./img/catalog/catalog-mobile-eight@2x.png 2x
            
                "
                src="./img/catalog/catalog-mobile-eight.png"
                alt="Watch8"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <div class="card-about">
            <p class="card-text">Greenlane Watch By Police For Men</p>
            <span class="card-price">€1000</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-nine.png    1x,
                  ./img/catalog/catalog-mobile-nine@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-nine.png"
                alt="Watch9"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Squardrc 5402 Chrono</p>
            <span class="card-price">€359</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-ten.png    1x,
                  ./img/catalog/catalog-mobile-ten@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-ten.png"
                alt="Watch10"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">
              Diver 300M Co‑Axial Master<span>...</span>
              <span class="text-hidden">Chronograph</span>
            </p>
            <span class="card-price">€359</span>
          </div>
        </a>
      </li>
      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-eleven.png    1x,
                  ./img/catalog/catalog-mobile-eleven@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-eleven.png"
                alt="Watch11"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Citizen</p>
            <span class="card-price">€519</span>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a href="#" class="card-link link">
          <div class="card">
            <div class="front">
              <img
                class="card-img"
                srcset="
                  ./img/catalog/catalog-mobile-twelve.png    1x,
                  ./img/catalog/catalog-mobile-twelve@2x.png 2x
                "
                src="./img/catalog/catalog-mobile-twelve.png"
                alt="Watch12"
                width="275"
                height="274"
              />
            </div>

            <div class="overlay">
              <h3 class="title-overlay">Description</h3>
              <p class="text-overlay">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="title-overlay">DETAILS &#38; FEATUREStion</h3>
              <p class="text-overlay">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>
          <div class="card-about">
            <p class="card-text">Armani Exchange</p>
            <span class="card-price">€400</span>
          </div>
        </a>
      </li>
    </ul>

    <button class="button-buy" type="button" data-modal-open>Buy now</button>
  </div>
</section>
