<section class="hero">
  <div class="container hero-container">
    <h1 class="main-title">Welcome to our collection of premium watches</h1>
    <!-- Slider main container -->
    <div class="swiper-container">
      <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide swiper-slide1">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img1-hero-slider@1x.webp 1x,
                  ./img/hero/img1-hero-slider@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img1-hero-slider@1x.png 1x,
                  ./img/hero/img1-hero-slider@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img1-hero-slider-mob-@1x.webp 1x,
                  ./img/hero/img1-hero-slider-mob-@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img1-hero-slider-mob-@1x.png 1x,
                  ./img/hero/img1-hero-slider-mob-@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />

              <img
                src="./img/hero/img1-hero-slider-mob-@1x.png"
                alt="watch"
                width="226"
                height="190"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide2">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img2-hero-slider@1x.webp 1x,
                  ./img/hero/img2-hero-slider@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img2-hero-slider@1x.png 1x,
                  ./img/hero/img2-hero-slider@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img2-hero-slider-mob-@1x.webp 1x,
                  ./img/hero/img2-hero-slider-mob-@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img2-hero-slider-mob-@1x.png 1x,
                  ./img/hero/img2-hero-slider-mob-@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />

              <img
                src="./img/hero/img2-hero-slider-mob-@1x.png"
                alt="watch"
                width="226"
                height="190"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide3">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img3-hero-slider@1x.webp 1x,
                  ./img/hero/img3-hero-slider@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img3-hero-slider@1x.png 1x,
                  ./img/hero/img3-hero-slider@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img3-hero-slider-mob-@1x.webp 1x,
                  ./img/hero/img3-hero-slider-mob-@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img3-hero-slider-mob-@1x.png 1x,
                  ./img/hero/img3-hero-slider-mob-@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />

              <img
                src="./img/hero/img3-hero-slider-mob-@1x.png"
                alt="watch"
                width="226"
                height="190"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide4">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img4-hero-slider@1x.webp 1x,
                  ./img/hero/img4-hero-slider@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img4-hero-slider@1x.png 1x,
                  ./img/hero/img4-hero-slider@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img4-hero-slider-mob-@1x.webp 1x,
                  ./img/hero/img4-hero-slider-mob-@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img4-hero-slider-mob-@1x.png 1x,
                  ./img/hero/img4-hero-slider-mob-@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />

              <img
                src="./img/hero/img4-hero-slider-mob-@1x.png"
                alt="watch"
                width="226"
                height="190"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide5">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img5-hero-slider@1x.webp 1x,
                  ./img/hero/img5-hero-slider@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/hero/img5-hero-slider@1x.png 1x,
                  ./img/hero/img5-hero-slider@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img5-hero-slider-mob-@1x.webp 1x,
                  ./img/hero/img5-hero-slider-mob-@2x.webp 2x
                "
                type="image/webp"
                width="348"
                height="233"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/hero/img5-hero-slider-mob-@1x.png 1x,
                  ./img/hero/img5-hero-slider-mob-@1x.png 2x
                "
                type="image/png"
                width="348"
                height="233"
              />

              <img
                src="./img/hero/img5-hero-slider-mob-@1x.png"
                alt="watch"
                width="226"
                height="190"
              />
            </picture>
          </div>

          ...
        </div>
      </div>
      <div class="swiper-navigation-wrap">
        <div class="swiper-button-wrap">
          <div class="button-prev">
            <svg class="swiper-button-icon">
              <use href="./img/icons.svg#icon-chevron-left"></use>
            </svg>
          </div>
          <div class="button-next">
            <svg class="swiper-button-icon">
              <use href="./img/icons.svg#icon-chevron-right"></use>
            </svg>
          </div>
        </div>
        <div class="pagination">
          <span class="pagination-current">01</span>
          <span>05</span>
        </div>
      </div>
    </div>

    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-main-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/img-hero-des-@1x.webp 1x,
          ./img/hero/img-hero-des-@2x.webp 2x
        "
        type="image/webp"
        width="676"
        height="394"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/img-hero-des-@1x.jpg 1x,
          ./img/hero/img-hero-des-@1x.jpg 2x
        "
        type="image/jpg"
        width="676"
        height="394"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/img-hero-tab-@1x.webp 1x,
          ./img/hero/img-hero-tab-@2x.webp 2x
        "
        type="image/webp"
        width="704"
        height="410"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/img-hero-tab-@1x.jpg 1x,
          ./img/hero/img-hero-tab-@1x.jpg 2x
        "
        type="image/jpg"
        width="704"
        height="410"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/img-hero-mob-@1x.webp 1x,
          ./img/hero/img-hero-mob-@2x.webp 2x
        "
        type="image/webp"
        width="335"
        height="440"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/img-hero-mob-@1x.jpg 1x,
          ./img/hero/img-hero-mob-@1x.jpg 2x
        "
        type="image/jpg"
        width="335"
        height="440"
      />
      <img
        src="./img/hero/img-hero-mob-@1x.jpg"
        alt="watch on hand"
        width="335"
        height="440"
      />
    </picture>
  </div>
</section>
