<section class="new-watches">
  <div class="new-watches-container">
    <h1 class="new-watches-title">New waches</h1>
    <h2 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h2>
    <ul class="new-wathes-gallery-list">
      <li class="new-watches-gallery-item list">
        <img
          src="./img/new-watches/photo1.jpg"
          alt="a watch on an arm"
          srcset="./img/new-watches/photo1@2x.jpg 2x"
          width="335px"
          height="260px"
        />
      </li>
      <li class="new-watches-gallery-item list">
        <img
          src="./img/new-watches/photo2.jpg"
          alt="a watch on an arm"
          srcset="./img/new-watches/photo2@2x.jpg 2x"
          width="335px"
          height="260px"
        />
      </li>
    </ul>
  </div>
</section>
