<section class="new-watches">
  <div class="new-watches-container container">
    <h2 class="new-watches-title">New waches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-wathes-gallery-list">
      <li class="new-watches-gallery-item list">
        <picture>
          <source
            srcset="
              ./img/new-watches/photo1-descw.webp    1x,
              ./img/new-watches/photo1-descw@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
            width="576px"
            height="422px"
          />
          <source
            srcset="
              ./img/new-watches/photo1-descj.jpg    1x,
              ./img/new-watches/photo1-descj@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="576px"
            height="422px"
          />
          <source
            srcset="
              ./img/new-watches/photo1-tabw.webp    1x,
              ./img/new-watches/photo1-tabw@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="342px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo1-tabj.jpg    1x,
              ./img/new-watches/photo1-tabj@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="342px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo1-mobw.webp    1x,
              ./img/new-watches/photo1-mobw@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="335px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo1-mobj.jpg    1x,
              ./img/new-watches/photo1-mobj@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="342px"
            height="260px"
          />
          <img
            src="./img/new-watches/photo1-mobj.jpg"
            alt="a watch on an arm"
          />
        </picture>
      </li>
      <li class="new-watches-gallery-item list">
        <picture>
          <source
            srcset="
              ./img/new-watches/photo2-descw.webp    1x,
              ./img/new-watches/photo2-descw@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
            width="576px"
            height="422px"
          />
          <source
            srcset="
              ./img/new-watches/photo2-descj.jpg    1x,
              ./img/new-watches/photo2-descj@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="576px"
            height="422px"
          />
          <source
            srcset="
              ./img/new-watches/photo2-tabw.webp    1x,
              ./img/new-watches/photo2-tabw@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
            width="342px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo2-tabj.jpg    1x,
              ./img/new-watches/photo2-tabj@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="342px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo2-mobw.webp    1x,
              ./img/new-watches/photo2-mobw@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
            width="342px"
            height="260px"
          />
          <source
            srcset="
              ./img/new-watches/photo2-mobj.jpg    1x,
              ./img/new-watches/photo2-mobj@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="342px"
            height="260px"
          />
          <img src="./img/new-watches/photo2-mobj.jpg" alt="a watch" />
        </picture>
      </li>
    </ul>
  </div>
</section>
