<section class="new-watches">
  <div class="new-watches-container">
    <h2 class="new-watches-title">New waches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-wathes-gallery-list">
      <li class="new-watches-gallery-item list">
        <picture>
          <source
            srcset="
              ../img/new-watches/photo1-descj.jpg    1x,
              ../img/new-watches/photo1-descj@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/new-watches/photo1-tabj.jpg    1x,
              ../img/new-watches/photo1-tabj@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/new-watches/photo1-mobj.jpg    1x,
              ../img/new-watches/photo1-mobj@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/new-watches/photo1-mobj.jpg"
            alt="a watch on an arm"
          />
        </picture>
      </li>
      <li class="new-watches-gallery-item list">
        <picture>
          <source
            srcset="
              ../img/new-watches/photo2-descj.jpg    1x,
              ../img/new-watches/photo2-descj@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/new-watches/photo2-tabj.jpg    1x,
              ../img/new-watches/photo2-tabj@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/new-watches/photo2-mobj.jpg    1x,
              ../img/new-watches/photo2-mobj@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/new-watches/photo2-mobj.jpg" alt="a watch" />
        </picture>
      </li>
    </ul>
  </div>
</section>
