<section class="section section-sale">
    <div class="container container-sale">
        <h2 class="title-section" id="sale">Sale</h2>
        <div class="watch-card-wrapper">
            <div class="column-card-wrapper">
                <ul class="list watch-card-list">
                    <li class="item watch-card-item">
                        <picture>
                            <source 
                            srcset="/src/img/sale-desktop/img-68-desk@1x.webp 1x, 
                                    /src/img/sale-desktop/img-68-desk@2x.webp 2x" 
                                    media="(min-width:1280px)"
                                    type="image/webp" />

                            <source 
                            srcset="/src/img/sale-desktop/img-68-desk@1x.png 1x, 
                                    /src/img/sale-desktop/img-68-desk@2x.png 2x"
                                    media="(min-width:1280px)" />


                            <source 
                            srcset="/src/img/sale-tab/img-68-tab@1x.webp 1x,
                                    /src/img/sale-tab/img-68-tab@2x.webp 2x"
                                    media="(min-width:768px)" 
                                    type="image/webp" />

                            <source 
                            srcset="/src/img/sale-tab/img-68-tab@1x.png 1x, 
                                    /src/img/sale-tab/img-68-tab@2x.png 2x"
                                    media="(min-width:768px)" />

                            <source 
                            srcset="/src/img/sale-mob/img-68-mob@1x.webp 1x, 
                                    /src/img/sale-mob/img-68-mob@2x.webp 2x"
                                    media="(max-width:767px)" 
                                    type="image/webp" />

                            <source 
                            srcset="/src/img/sale-mob/img-68-mob@1x.png 1x, 
                                    /src/img/sale-mob/img-68-mob@2x.png 2x"
                                    media="(max-width:767px)" />

                            <img src="/src/img/sale-mob/img-68-mob@1x.png" alt="watch68" />
                        </picture>

                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                </ul>
            </div>


            <div class="single-watch-wrapper">
                <picture>
                    <source 
                    srcset="/src/img/sale-desktop/img-1-desk@1.webp 1x, 
                            /src/img/sale-desktop/img-1-desk@2.webp 2x" 
                            media="(min-width:1280px)" 
                            type="image/webp" />

                    <img src="/src/img/sale-desktop/img-1-desk@1.png" alt="watch1" />

                </picture>
            </div>
        </div>

        <div>
            <h3 class="title-watch">Greenlane Watch By Police For MenHT</h3>
            <subtitle>Product tag: PEWJK2227003</subtitle>
            <span class="price">€700</span>
            <span class="old-price">€1000</span>

            <h4 class="title-description">Description</h4>
            <p class="text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a
                versatile
                multifunction design
                that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial.
                The
                timepiece
                exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>

            <h4>DETAILS & FEATURES</h4>
            <pre class="features-details">
                    Gender: man
                    Size: 46x54.5mm
                    Case Colour: Steel
                    Band Material: Metal
                    Case Material: Metal
                    Features: Multifunction
                    Water Resistant: 5 (ATM)
                    Band Colour: Steel
                </pre>
        </div>



    </div>
</section>