<section id="sale" class="section section-sale">
  <div class="container">
    <h2 class="title-section">Sale</h2>
    <div class="container-sale">
      <div class="watch-card-wrapper">
        <div class="column-card-wrapper">
          <ul class="list watch-card-list">
            <li class="item watch-card-item">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/frame-62-tab-desk.webp   1x,
                    ./img/sale-desktop/frame-62-tab-desk-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/frame-62-tab-desk.jpg   1x,
                    ./img/sale-desktop/frame-62-tab-desk-2.jpg 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-desktop/frame-62-tab-desk.webp   1x,
                    ./img/sale-desktop/frame-62-tab-desk-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/frame-62-tab-desk.jpg   1x,
                    ./img/sale-tab/frame-62-tab-desk-2.jpg 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/sale-mob/image-mob.webp 1x"
                  type="image/webp"
                  width="80"
                  height="80"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/sale-mob/image-mob.jpg"
                  width="80"
                  height="80"
                />

                <img src="./img/sale-mob/image-mob.jpg" alt="watch68" />
              </picture>
            </li>
            <li class="item watch-card-item">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/image64desk-1.webp 1x,
                    ./img/sale-desktop/image64desk-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/image64desk-1.jpg 1x,
                    ./img/sale-desktop/image64desk-2.jpg 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-64-tab-1.webp 1x,
                    ./img/sale-tab/img-64-tab-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-64-tab-1.png 1x,
                    ./img/sale-tab/img-64-tab-2.png 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-67-mob-1.webp 1x,
                    ./img/sale-mob/img-67-mob-2.webp 2x
                  "
                  type="image/webp"
                  width="80"
                  height="80"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-67-mob-1.png 1x,
                    ./img/sale-mob/img-67-mob-2.png 2x
                  "
                  width="80"
                  height="80"
                />

                <img src="./img/sale-mob/img-67-mob-1.png" alt="watch64" />
              </picture>
            </li>
            <li class="item watch-card-item">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/image65desk-1.webp 1x,
                    ./img/sale-desktop/image65desk-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/img-65-desk-1.png 1x,
                    ./img/sale-desktop/img-65-desk-2.png 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-65-tab-1.webp 1x,
                    ./img/sale-tab/img-65-tab-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-65-tab-1.png 1x,
                    ./img/sale-tab/img-65-tab-2.png 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-65-mob-1.webp 1x,
                    ./img/sale-mob/img-65-mob-2.webp 2x
                  "
                  type="image/webp"
                  width="80"
                  height="80"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-65-mob-1.png 1x,
                    ./img/sale-mob/img-65-mob-2.png 2x
                  "
                  width="80"
                  height="80"
                />

                <img src="./img/sale-mob/img-65-mob-1.png" alt="watch65" />
              </picture>
            </li>
            <li class="item watch-card-item">
              <picture>
                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/img-66-desk-1.webp 1x,
                    ./img/sale-desktop/img-66-desk-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:1280px)"
                  srcset="
                    ./img/sale-desktop/img-66-desk-1.png 1x,
                    ./img/sale-desktop/img-66-desk-2.png 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-67-tab-1.webp 1x,
                    ./img/sale-tab/img-67-tab-2.webp 2x
                  "
                  type="image/webp"
                  width="146"
                  height="146"
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/sale-tab/img-67-tab-1.png 1x,
                    ./img/sale-tab/img-67-tab-2.png 2x
                  "
                  width="146"
                  height="146"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-66-mob-1.webp 1x,
                    ./img/sale-mob/img-66-mob-2.webp 2x
                  "
                  type="image/webp"
                  width="80"
                  height="80"
                />

                <source
                  media="(max-width:767px)"
                  srcset="
                    ./img/sale-mob/img-66-mob-1.png 1x,
                    ./img/sale-mob/img-66-mob-2.png 2x
                  "
                  width="80"
                  height="80"
                />

                <img src="./img/sale-mob/img-66-mob-1.png" alt="watch66" />
              </picture>
            </li>
          </ul>
        </div>
        <div class="single-card-wrapper">
          <picture class="single-watch">
            <source
              media="(min-width:1280px)"
              srcset="
                ./img/sale-desktop/img-1-desk1.webp 1x,
                ./img/sale-desktop/img-1-desk2.webp 2x
              "
              type="image/webp"
              width="406"
              height="614"
            />

            <source
              media="(min-width:1280px)"
              srcset="
                ./img/sale-desktop/img-1-desk-1.png 1x,
                ./img/sale-desktop/img-1-desk-2.png 2x
              "
              width="406"
              height="614"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ./img/sale-tab/img-1-tab-1.webp 1x,
                ./img/sale-tab/img-1-tab-2.webp 2x
              "
              type="image/webp"
              width="406"
              height="614"
            />

            <source
              media="(min-width:768px)"
              srcset="
                ./img/sale-tab/img-1-tab-1.png 1x,
                ./img/sale-tab/img-1-tab-2.png 2x
              "
              width="406"
              height="614"
            />

            <source
              media="(max-width:767px)"
              srcset="
                ./img/sale-mob/img-1-mob-1.webp 1x,
                ./img/sale-mob/img-1-mob-2.webp 2x
              "
              type="image/webp"
              width="235"
              height="350"
            />

            <source
              media="(max-width:767px)"
              srcset="
                ./img/sale-mob/img-1-mob-1.png 1x,
                ./img/sale-mob/img-1-mob-2.png 2x
              "
              width="235"
              height="350"
            />

            <img
              src="./img/sale-mob/img-1-mob-1.png"
              alt="watch1"
              width="406"
              height="614"
            />
          </picture>
        </div>
      </div>
      <div class="watch-description">
        <div class="watch-name-wrapper">
          <h3 class="title-watch">Greenlane Watch By Police For MenHT</h3>
          <p class="watch-number">Product tag: PEWJK2227003</p>
          <div class="prices">
            <span class="price">€700</span>
            <span class="old-price">€1000</span>
          </div>
        </div>
        <div class="watch-description-wrapper">
          <h4 class="title-description">Description</h4>
          <p class="text-description">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>

        <h4 class="title-details">DETAILS & FEATURES</h4>
        <p class="features-details">
          Gender: man <br />
          Size: 46x54.5mm <br />
          Case Colour: Steel <br />
          Band Material: Metal <br />
          Case Material: Metal <br />
          Features: Multifunction <br />
          Water Resistant: 5 (ATM) <br />
          Band Colour: Steel <br />
        </p>
      </div>
    </div>
  </div>
</section>
