<section class="section section-sale">
    <div class="container container-sale">
        <h2 class="title-section" id="sale">Sale</h2>
        <div class="watch-card-wrapper">
            <div class="column-card-wrapper">
                <ul class="list watch-card-list">
                    <li class="item watch-card-item">
                        <picture>
                            <source srcset="./img/desktop/img-68-desk@1.webp 1x, 
                                        ./img/desktop/img-68-desk@2.webp 2x" media="(min-width:1280px)"
                                type="image/webp" />

                            <source srcset="./img/desktop/img-68-desk@1.png 1x, ./img/desktop/img-68-desk@2.png 2x"
                                media="(min-width:1280px)" />


                            <source srcset="./img/tab/img-68-tab@1.webp 1x, ./img/tab/img-68-tab@2.webp 2x"
                                media="(min-width:768px)" type="image/webp" />

                            <source srcset="./img/tab/img-68-tab@1.png 1x, ./img/tab/img-68-tab@2.png 2x"
                                media="(min-width:768px)" />

                            <source srcset="./img/mob/img-68-mob@1.webp 1x, ./img/mob/img-68-mob@2.webp 2x"
                                media="(max-width:767px)" type="image/webp" />

                            <source srcset="./img/mob/img-68-mob@1.png 1x, ./img/mob/img-68-mob@2.png 2x"
                                media="(max-width:767px)" />

                            <img src="./img/mob/img-68-mob@1.png" alt="watch68" />
                        </picture>

                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                    <li class="item watch-card-item">
                        <picture>

                        </picture>
                    </li>
                </ul>
            </div>


            <div class="single-watch-wrapper">
                <picture>
                    <source srcset="./img/desktop/img-1-desk@1.webp 1x, 
                    ./img/desktop/img-1-desk@2.webp 2x" media="(min-width:1280px)" type="image/webp" />

                    <img src="./img/desktop/img-1-desk@1.jpg" alt="watch1" />

                </picture>
            </div>
        </div>

        <div>
            <h2 class="title-watch">Greenlane Watch By Police For MenHT</h2>
            <subtitle>Product tag: PEWJK2227003</subtitle>
            <p>€700</p>
            <p>€1000</p>

            <h3 class="title-description">Description</h3>
            <p class="text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a
                versatile
                multifunction design
                that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial.
                The
                timepiece
                exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>

            <h3>DETAILS & FEATURES</h3>
            <pre class="features-details">
                    Gender: man
                    Size: 46x54.5mm
                    Case Colour: Steel
                    Band Material: Metal
                    Case Material: Metal
                    Features: Multifunction
                    Water Resistant: 5 (ATM)
                    Band Colour: Steel
                </pre>
        </div>



    </div>
</section>