.aboutus-area {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .aboutus-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1e2827;
  
    padding-bottom: 40px;
  }
  .aboutus-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  
    color: #141414;
  }
  .aboutus-text + .aboutus-text {
    padding-top: 20px;
  }
  .movie-watch {
    /* width: 335px;
    height: 365px; */
    margin-right: auto;
    margin-left: auto;
  }
  .aboutus-text-section{
  margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    .aboutus-text-section{
        display: flex;
    }
    .aboutus-text + .aboutus-text {
        padding-top: 0;
        margin-left: 20px;
        
        
      }
    .aboutus-name{
        margin-right: 40px;
    }
    .aboutus-text.first{width: 220px;}
    .aboutus-text.second{width: 250px;}
    .aboutus-name {
        font-size: 40px;
        line-height: 1.1;
        padding-bottom: 0;
      }
    
  }