.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 178, 197, 0.178);
  top: 0;

}

.modal {
  display: block;
  width: 335px;
  height: 1073px;
  background-color: #FFFFFF;
  padding: 40px 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

}

.svg-btn {
  stroke: var(--black);
}

.foto {
  margin-bottom: 40px;
}

.text-foto {
  width: 275px;
  margin: auto;
  margin-bottom: 14px;
}

.foto-modal {
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  fill: var(--black);
  margin-bottom: 8px;


}

.modal-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-top: 14px;

}

.modal-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 4px;

}


.modal-field:nth-child(-n+3) {
  margin-bottom: 18px;
}

.modal-input-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--black);
}

.input-wrap {
  margin-top: 14px;
}

.input-modal {
  padding: 12px 16px;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
}

.input-modal::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.modal-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 166px;
  resize: none;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
  margin-top: 8px;

}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.modal-btn {
  width: 100%;
  height: 50px;
  background: #1E2827;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 12px;
  margin-top: 20px;
}

.modal-text {
  /* width: 295px;
  height: 42px; */

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.02em;

  color: rgba(20, 20, 20, 0.4);
}

.modal-text-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {
  .foto {
    margin: 0;
  }

  .modal {
    width: 744px;
    height: 670px;
    padding: 40px;
    display: flex;
    gap: 20px;
  }

  .modal-textarea {
    height: 166px;
  }

  .close-btn {
    top: 20px;
    right: 20px;
  }


}

@media screen and (min-width: 1280px) {

  .modal {
    width: 904px;
    height: 694px;
    gap: 40px;
  }

  .modal-btn {
    margin-top: 40px;
  }

  .modal-field:nth-child(-n+3) {
    margin-bottom: 24px;
  }

}