.section-sale{
    background-color: #EFEFEF;
}


/*--------------MOB--------------------*/

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }

    .watch-card-wrapper {
        display: flex;
        margin-bottom: 40px;
    }

    .title-section {
        Font-family: Epilogue;
        Font-weight: 600;
        Font-size: 32px;
        Line-height: 1.25;
        text-align: left;
        letter-spacing: -0.02em;
        color: #141414;
        padding-bottom: 40px;
    }

    .title-watch{
        Font-family: Epilogue;
        Font-weight: 400;
        Font-size: 24px;
        Line-height: 1;
        text-align: left;
        Letter-spacing: -0.02em;
        color: #141414;
    }



    .features-details{
        display:block;
        margin:0 auto;
    }


    /*--------------TABLET-----------*/

}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}



/*------------DESKTOP--------------*/
@media screen and (min-width: 1280px) {
    .container {
        width: 1216px;
    }
}