/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* fonts -------------------------------------------- */
@import url('./fonts.css');
/* Variables */
@import url('./variables.css');
/* reset--------------------------------------------- */
@import url('./reset.css');
/* header -------------------------------------------*/
@import url('./header.css');
/* hero ----------------------------------------------*/
@import url('./hero.css');
/* about ---------------------------------------------*/
@import url('./aboutus.css');
/* Catalog-------------------------------------------- */
@import url('./catalog.css');
/* new watch-------------------------------------------- */
@import url('./newwatch.css');
/* Sale ------------------------------------------------*/
@import url('./sale.css');
/* Buy Now -----------------------------------------------*/
@import url('./buynow.css');
/* Burger -----------------------------------------------*/
@import url('./burger.css');